---
org: encapsulate
domain_regex: ^([a-zA-Z0-9-]+\.)+[a-zA-Z]{2,}$
influxdb_dns: http://h1-finland-hub-monitor.crane-goldeye.ts.net:9122
ansible_port: 8192

architecture_map:
  x86_64: amd64
  aarch64: arm64

default_node_types:
  - validator
  - default

tmp_dir: /tmp

supra:
  fullnode:
    source_url: asia-docker.pkg.dev/supra-devnet-misc/supra-{{ env }}/rpc-node
  validator:
    source_url: supraoracles/supra-{{ env }}-validator-node
  snapshot_endpoint_url: https://4ecc77f16aaa2e53317a19267e3034a4.r2.cloudflarestorage.com

promtail:
  service_identifier_suffix: promtail
  source_url: https://github.com/grafana/loki/releases/download
  file_extension: zip
  ports:
    http_listen_port:
      validator: 9082
      fullnode: 9084
    grpc_listen_port:
      validator: 9083
      fullnode: 9085

telegraf:
  service_identifier_suffix: telegraf
  source_url: https://dl.influxdata.com/telegraf/releases
  file_extension: tar.gz

aws:
  source_url: https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip
