[Unit]
Description=Telegraf

[Service]
User=telegraf
Group=telegraf
Type=notify
NotifyAccess=all
ExecStart={{ telegraf_bin_dir }}/{{ service_identifier }} -config {{ telegraf_config_file_path }} -config-directory {{ telegraf_config_dir }} $TELEGRAF_OPTS
ExecReload=/bin/kill -HUP $MAINPID
RestartForceExitStatus=SIGPIPE
KillMode=mixed
TimeoutStopSec=5
LimitMEMLOCK=8M:8M
Restart=always
RestartSec=4
LimitNOFILE=65536
StandardOutput=append:{{ telegraf_log_file_path }}
StandardError=inherit

[Install]
WantedBy=multi-user.target