bind_addr = "0.0.0.0:{{ supra.fullnode.ports.p2p_port }}"
block_provider_is_trusted = false
consensus_client_cert_path = "{{ fullnode_supra_certificate_file_path }}"
consensus_client_private_key_path = "{{ fullnode_supra_key_file_path }}"
consensus_root_ca_cert_path = "{{ fullnode_supra_ca_file_path }}"
consensus_rpc = "ws://{{ fullnode_validator_ip_address.testnet }}:{{ supra.validator.ports.p2p_port }}"
resume = true
supra_committees_config = "{{ fullnode_supra_committees_file_path }}"
sync_retry_interval_in_secs = 5

[chain_instance]
chain_id = 6
epoch_duration_secs = 7200
recurring_lockup_duration_secs = 14400
voting_duration_secs = 7200
is_testnet = true
genesis_timestamp_microseconds = 1726574400000000


[database_setup.dbs.archive.rocks_db]
path = "{{ fullnode_archive_dir }}"
enable_snapshots = true

[database_setup.dbs.ledger.rocks_db]
path = "{{ fullnode_ledger_dir }}"

[database_setup.dbs.chain_store.rocks_db]
path = "{{ fullnode_store_dir }}"
enable_snapshots = true

[database_setup.snapshot_config]
depth = 2
interval_in_seconds = 1800
path = "{{ fullnode_snapshot_dir }}"
retry_count = 3
retry_interval_in_seconds = 5

[[allowed_origin]]
url = "https://rpc-testnet.supra.com"
description = "RPC For Supra Scan and Faucet"

[[allowed_origin]]
url = "https://rpc-testnet1.supra.com"
description = "RPC For nodeops group1"

[[allowed_origin]]
url = "https://rpc-testnet2.supra.com"
description = "RPC For nodeops group2"

[[allowed_origin]]
url = "https://rpc-testnet3.supra.com"
description = "RPC For nodeops group3"

[[allowed_origin]]
url = "https://rpc-testnet4.supra.com"
description = "RPC For nodeops group4"

[[allowed_origin]]
url = "https://rpc-testnet5.supra.com"
description = "RPC For nodeops group5"

[[allowed_origin]]
url = "http://localhost:{{ supra.fullnode.ports.p2p_port }}"
description = "LocalNet"
mode = "Server"

[[allowed_origin]]
url = "https://www.starkey.app"
description = "Starkey domain"
mode = "Cors"

[[allowed_origin]]
url = "chrome-extension://fcpbddmagekkklbcgnjclepnkddbnenp"
description = "Starkey wallet extension"
mode = "Cors"

[[allowed_origin]]
url = "chrome-extension://hcjhpkgbmechpabifbggldplacolbkoh"
description = "Starkey wallet extension"
mode = "Cors"

[[allowed_origin]]
url = "https://supra.com"
description = "Supra domain"
mode = "Cors"

[[allowed_origin]]
url = "https://qa-spa.supra.com"
description = "QA Supra domain"
mode = "Cors"

[[allowed_origin]]
url = "https://qa-api.services.supra.com"
description = "QA API Supra domain"
mode = "Cors"

[[allowed_origin]]
url = "https://prod-api.services.supra.com"
description = "Prod API Supra domain"
mode = "Cors"

[[allowed_origin]]
url = "http://localhost:3000"
description = "Localhost"
mode = "Cors"

[[allowed_origin]]
url = "http://localhost:8080"
description = "Localhost"
mode = "Cors"