# The below parameters are fixed for the protocol and must be agreed upon by all node operators
# at genesis. They may subsequently be updated via governance decisions.

# Core protocol parameters.
# The below parameters are node-specific and may be configured as required by the operator.

# The port on which the node should listen for incoming RPC requests.
bind_addr = "0.0.0.0:{{ supra.fullnode.ports.p2p_port }}"
# If `true` then blocks will not be verified before execution. This value should be `false`
# unless you also control the node from which this RPC node is receiving blocks.
block_provider_is_trusted = true
resume = true
# The path to `supra_committees.json`.
supra_committees_config = "{{ fullnode_supra_committees_file_path }}"
consensus_access_tokens = []

# A unique identifier for this instance of the Supra protocol. Prevents replay attacks across chains.
[chain_instance]
chain_id = 6
# The length of an epoch in seconds.
epoch_duration_secs = 7200
# The number of seconds that stake locked in a Stake Pool will automatically be locked up for when
# its current lockup expires, if no request is made to unlock it.
recurring_lockup_duration_secs = 14400
# The number of seconds allocated for voting on governance proposals. Governance will initially be controlled by The Supra Foundation.
voting_duration_secs = 7200
# Determines whether the network will start with a faucet, amongst other things.
is_testnet = true
# Tuesday, September 17, 2024 12:00:00.000 PM (UTC)
genesis_timestamp_microseconds = 1726574400000000


######################################### NODE PARAMETERS #########################################
[chain_state_assembler]
certified_block_cache_bucket_size = 50
sync_retry_interval_in_secs = 1

[synchronization.ws]
# The path to the TLS certificate for the connection with the attached validator.
consensus_client_cert_path = "{{ fullnode_supra_certificate_file_path }}"
# The path to the private key to be used when negotiating TLS connections.
consensus_client_private_key_path = "{{ fullnode_supra_key_file_path }}"
# The path to the TLS root certificate authority certificate.
consensus_root_ca_cert_path = "{{ fullnode_supra_ca_file_path }}"
# The websocket address of the attached validator.
consensus_rpc = "ws://{{ supra.validator.ip_address }}:{{ supra.validator.ports.p2p_port }}"

# Parameters for the RPC Archive database. This database stores the indexes used to serve RPC API calls.
[database_setup.dbs.archive.rocks_db]
# The path at which the database should be created.
path = "{{ fullnode_archive_dir }}"
# Whether snapshots should be taken of the database.
enable_snapshots = true

# Parameters for the DKG database.
[database_setup.dbs.ledger.rocks_db]
# The path at which the database should be created.
path = "{{ fullnode_ledger_dir }}"

# Parameters for the blockchain database.
[database_setup.dbs.chain_store.rocks_db]
# The path at which the database should be created.
path = "{{ fullnode_store_dir }}"
# Whether snapshots should be taken of the database.
enable_snapshots = true

# Parameters for the database snapshot service.
[database_setup.snapshot_config]
# The number of snapshots to retain, including the latest.
depth = 2
# The interval between snapshots in seconds.
interval_in_seconds = 1800
# The path at which the snapshots should be stored.
path = "{{ fullnode_snapshot_dir }}"
# The number of times to retry a snapshot in the event that it fails unexpectedly.
retry_count = 3
# The interval in seconds to wait before retrying a snapshot.
retry_interval_in_seconds = 5

# CORS settings for RPC API requests. The below settings are the default values required for use in RPC nodes run by validator node operators. They are optional for non-validators.
[[allowed_origin]]
url = "https://rpc-testnet.supra.com"
description = "RPC For Supra Scan and Faucet"
mode = "Server"

[[allowed_origin]]
url = "https://rpc-testnet1.supra.com"
description = "RPC For nodeops group1"
mode = "Server"

[[allowed_origin]]
url = "https://rpc-testnet2.supra.com"
description = "RPC For nodeops group2"
mode = "Server"

[[allowed_origin]]

url = "https://rpc-testnet3.supra.com"
description = "RPC For nodeops group3"
mode = "Server"

[[allowed_origin]]
url = "https://rpc-testnet4.supra.com"
description = "RPC For nodeops group4"
mode = "Server"

[[allowed_origin]]
url = "https://rpc-testnet5.supra.com"
description = "RPC For nodeops group5"
mode = "Server"

[[allowed_origin]]
url = "http://localhost:{{ supra.fullnode.ports.p2p_port }}"
description = "LocalNet"
mode = "Server"
