SUPRA_LOG_DIR={{ validator_log_dir }}
RUST_LOG=info,certifier=debug,dkg=debug,epoch_manager=debug,moonshot=debug,mempool=debug,node::dkg_runner=debug,rpc::server=debug,rpc::server::request_processor=debug,rpc::server::message_dispatcher=debug,tracing=warn,yamux=warn,multistream_select=warn,libp2p_swarm=warn
