[Unit]
Description=Supra RPC

[Service]
User={{ service_identifier }}
Group={{ service_identifier }}
Environment="SUPRA_HOME={{ rpc_config_dir }}"
Environment="SUPRA_LOG_DIR={{ rpc_log_dir }}"
Environment="SUPRA_MAX_LOG_FILE_SIZE=400000000"
Environment="SUPRA_MAX_UNCOMPRESSED_LOGS=5"
Environment="SUPRA_MAX_LOG_FILES=20"
WorkingDirectory={{ rpc_bin_dir }}
ExecStart={{ rpc_bin_dir }}/{{ service_identifier }}
Restart=always
RestartSec=4
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target