---
- name: Stop service
  ansible.builtin.systemd:
    name: "{{ service_identifier }}"
    state: stopped

- name: Migrate database
  ansible.builtin.command:
    cmd: "{{ validator_bin_dir }}/{{ service_identifier }} data migrate -p {{ validator_smr_settings_file_path }}"
    chdir: "{{ validator_home_dir }}"
  register: database_migrate_result
  failed_when: database_migrate_result.rc != 0
  notify:
    - Restart service
